@font-face { font-family: derk; src: url('derk.otf'); } 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&amp;display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    overflow-y: hidden; 
    overflow-x: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#overlay-toggle {
  position:absolute;
  display: none;
}

.overlay {
  z-index: 1;
  background-color: black;
}
.overlay label {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vw;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}

.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}


body {
  font-family: 'Roboto Mono', monospace;
  background-color:#000000!important;
  color: rgb(206, 0, 0)!important
}
a {
  z-index: 99999999;
  text-decoration:none;
  color:rgb(30,30,30)
}
a:hover{
  z-index: 999999;
  color: #680000;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}


  #center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  }

.socials {
  position: fixed;
  text-align: center;
  margin: 0;
  margin-left: 25%;
  margin-top: 58vh;


}

#overlay-toggle:checked ~ .overlay {
  animation-fill-mode: forwards;
  animation-name: fade, hide;
  animation-delay: 0s, 600ms;
  animation-duration: 600ms, 1ms;
}
#overlay-toggle:checked ~ .overlay label {
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 500ms;
}
@media(hover: hover) {
  .hover {
    display: block;
  }
  .no-hover {
    display: none;
  }
}
@keyframes fade{
  to {
    opacity: 0;
  }
}
@keyframes hide {
  to {
    visibility: hidden;
  }
}

* {cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur5.cur), auto;}
body{
    background:white;
  }
  /* customizable snowflake styling */
  .snowflake {
    color: rgba(255, 0, 0, 0.5);;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
supported by Chrome, Edge, Opera and Firefox */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {

h4 {
  position: absolute;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'VCR OSD Mono', sans-serif;
  padding: 60px;
  width: 70%;
  text-align: center;
  top: 0;
  left: 0;
  padding-top: 20px;
  margin-left: 150px;
  z-index: 0;
}
}

.rainbow {
 /*Fontoptions*/text-shadow: 2px 2px 4px #212121;
 /*Chrome,Safari,Opera*/-webkit-animation: rainbow 3.5s infinite;
 /*InternetExplorer*/-ms-animation: rainbow 3.5s infinite;
 /*StandarSyntax*/animation: rainbow 3.5s infinite;
 -webkit-animation: rainbow 3.5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
     0%{
      color: black;}
     25%{
      color: #680000;}
     50%{
      color:#a90000}
     75%{
      color: #680000;}
    100%{
      color: black;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{
    color: black;}
   25%{
    color: #680000;}
   50%{
    color:#a90000}
   75%{
    color: #680000;}
  100%{
    color: black;}
}

/* Standar Syntax */
@keyframes  rainbow{
  0%{
    color: black;}
   25%{
    color: #680000;}
   50%{
    color:#a90000}
   75%{
    color: #680000;}
  100%{
    color: black;}
}

.logo {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);;
    color: #242526;
    text-align: center;
  }
.logo pre:hover {
  color: white !important;
}

#vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}